<footer id="rodape" class="site-footer">
  <p>© 2025 Anderson Tech. Todos os direitos reservados.</p>
  <div class="social">
    <a href="https://www.instagram.com/ans_restauracao_automotivo" target="_blank" aria-label="Instagram"><img src="imagens/instagram.svg" alt="Instagram" /></a>
    <a href="https://www.facebook.com/people/Ans-reparadora-e-restaura%C3%A7%C3%A3o-automotiva/100047539466192/" target="_blank" aria-label="Facebook"><img src="imagens/facebook.svg" alt="Facebook" /></a>
  </div>
</footer>
